/*** The new CSS Reset - version 1.4.4 (last updated 22.12.2021) ***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}
a {
    cursor: pointer;
}
body {
    background: no-repeat url("../img/bg.png") center 0 #000;
    color: #fff;
    font-family: "Inter", sans-serif;
}
h1 {
    font-family: "Merriweather", serif;
    font-size: 60px;
    line-height: 120px;
}
h2 {
    font-size: 40px;
    line-height: 80px;
    color: #bdae82;
    margin: 0 auto;
    background-color: #000;
    text-align: center;
}
h3 {
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
}
h4 {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 56px;
}
input,
textarea {
    border: 2px solid #bdae82;
    color: #bdae82;
    font-size: 20px;
    line-height: 40px;
    width: 450px;
    height: 50px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-left: 20px;
}

textarea {
    height: 100;
    vertical-align: top;
}
::placeholder {
    color: #bdae82;
    font-size: 20px;
    line-height: 40px;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}
.btn {
    width: 220px;
    height: 55px;
    background-color: #bdae82;
    color: #000;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}
.header {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}
.header-list {
    display: flex;
}
.header-item {
    margin-left: 30px;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
}
.header-nav-lang {
    font-weight: bold;
}
.lang-active {
    color: #bdae82;
}
.wrapper-hero {
    max-width: 500px;
    margin-top: 160px;
    margin-left: 60px;
    margin-bottom: 330px;
}
.wrapper-hero p {
    font-size: 20px;
    line-height: 40px;
    width: 470px;
    margin-top: 10px;
}
.hero-btn {
    margin-top: 25px;
}
.skills-all {
    display: flex;
    justify-content: space-around;
}
.h2-wrapper {
    padding-top: 100px;
    width: 700px;
    margin: 0 auto;
    background: no-repeat url("../img/section-title-line.png") 0 139px;
}
.h2-skills {
    width: 152px;
}
.skill {
    margin-top: 60px;
    max-width: 320px;
    padding: 100px 20px 8px 20px;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
}
.skill-camera {
    background: no-repeat url("../img/camera\ 1.png") center 0;
}
.skill-image {
    background: no-repeat url("../img/image\ 1.png") center 0;
}
.skill-mic {
    background: no-repeat url("../img/mic\ 1.png") center 0;
}
.skill-video {
    background: no-repeat url("../img/video\ 1.png") center 0;
}
.skill p {
    margin-top: 20px;
}
.h2-portfolio {
    width: 221px;
}

.portfolio-item {
    width: 220px;
    height: 55px;
    border: 2px solid #bdae82;
    color: #bdae82;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    margin-right: 5px;
    padding-top: 6px;
}
/*TO DO*/
.portfolio-item a {
    width: 220px;
    height: 55px;
    margin: 0;
    padding: 0;
}
.portfolio-item-active {
    background-color: #bdae82;
    color: #000;
}
.portfolio-nav {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.photos {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-between;
}
.photo-item {
    width: 450px;
    height: 560px;
    margin-bottom: 25px;
}
.h2-video {
    width: 154px;
}
.h2-video-wrapper {
    margin-top: -30px;
}
.video-content {
    width: 1400px;
    height: 705px;
    margin-top: 60px;
}

.h2-price {
    width: 142px;
}
.price-elements {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.price-el {
    width: 450px;
    min-height: 505px;
    border: 3px solid #bdae82;
    text-align: center;
    padding: 43px;
    font-size: 18px;
    line-height: 36px;
}
.price-el-btn {
    margin-top: 40px;
}
.price-el-price {
    font-size: 24px;
    line-height: 48px;
    color: #bdae82;
    font-family: Merriweather;
    font-weight: bold;
    margin-top: 20px;
}
.price-el ul {
    margin-top: 20px;
}
.contacts {
    background: no-repeat url("/img/contacts.jpg");
    margin-top: 100px;
    padding-top: 60px;
}
.contacts-wrapper {
    width: 450px;
    height: 700px;
    margin-left: auto;
}
.h2-contacts {
    background-color: transparent;
    text-align: left;
    margin-bottom: 40px;
}
